airtable==0.3.1
-e git+rick@brahms:remotes/python_gmail.git@e3ad62bec367db459f7d1775ee98cadb8e0da752#egg=attaskcreator
boto3==1.4.6
botocore==1.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coverage==4.4.1
daiquiri==1.2.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
Flask-Slack==0.1.5
html2text==2016.9.19
idna==2.5
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
nameparser==0.5.3
prompt-toolkit==1.0.15
ptpython==0.41
py==1.4.34
Pygments==2.2.0
pytest==3.2.1
pytest-cov==2.5.1
python-dateutil==2.6.1
requests==2.18.3
s3transfer==0.1.10
six==1.10.0
slackclient==1.0.7
slackperson==0.1.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.12.2
